body {
    color: #ffffff;
    background-color: #3C175A;
}

.container {
    padding-top: 5%;
}

.table-img {
    height: 24px;
    width: auto;
    margin: 5px 5px 0 5px;
}

.match-img {
    height: 24px;
    width: auto;
}

.middle {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hide {
    display: none !important;
}

/* Loader */

.loader {
    border: 5px solid #b70040;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #f50057;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.text-center {
    text-align: center !important;
}

.content {
    padding: 20px;
    border-radius: 2px;
    background-color: #4f0d85;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Tabs */

.tabs {
    background-color: #3C175A;
}

.tabs .tab a{
    color:#ffffff;
} 

.tabs .tab a:hover {
    background-color:#f50057;
    color:#ffffff;
} 

.tabs .tab a.active {
    background-color:#f50057;
    color:#ffffff;
} 

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #f50057;
    outline: none;
}

.tabs .indicator {
    background-color:#f50057;
} 



/* Match */

.match {
    padding-bottom: 3px !important;
    margin: 5px 0;
    border-bottom: 0.3px solid #3C175A;
}


.date {
    margin: 20px 0;
}

.date-header {
    padding: 5px;
    background-color: #f50057;
    color: #ffffff;
    border-radius: 3px;
}


/* Smaller Screen */
@media(max-width: 640px) {
    .content {
        padding: 7px;
    }

    
    body {
        font-size: 11px;
    }
    
    .container {
        width: 100%;
    }
}
